# Sabrina Nur Az-zahra (2109106111) Posttest 4

## Import Library

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

data = pd.read_csv("movies.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

## Membagi Dataset menjadi trainset dan testset

In [2]:
X = data.iloc[:, : -1]
y = data.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (5367, 14)
Dimensi X_test (2301, 14)
Dimensi y_train (5367,)
Dimensi y_test (2301,)

## Melakukan normalisasi data dengan menggunakan MinMaxScaler

In [3]:
min_max = MinMaxScaler()

# Copy Data
copy1 = data
dataCopy_normalization = copy1[["score"]]

normalization = min_max.fit_transform(dataCopy_normalization[["score"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["score_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["score_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   score  score_Normalization
0    8.4             0.878378
1    5.8             0.527027
2    8.7             0.918919
3    7.7             0.783784
4    7.3             0.729730
5    6.4             0.608108
6    7.9             0.810811
7    8.2             0.851351
8    6.8             0.662162
9    7.0             0.689189

## Melakukan Standarisasi Data

In [4]:
ssc = StandardScaler()

# Copy Data
copy2 = data
dataCopy_standarization = copy2.select_dtypes(include='number')

standarization = ssc.fit_transform(dataCopy_standarization)

data_standarization = pd.DataFrame(standarization)
data_standarization.columns = ["year", "score", "votes", "budget", "gross", "runtime"]

print("Data Sebelum Scaling : ")
dataCopy_standarization.head(10)

Data Sebelum Scaling :

   year  score      votes      budget        gross  runtime
0  1980    8.4   927000.0  19000000.0   46998772.0    146.0
1  1980    5.8    65000.0   4500000.0   58853106.0    104.0
2  1980    8.7  1200000.0  18000000.0  538375067.0    124.0
3  1980    7.7   221000.0   3500000.0   83453539.0     88.0
4  1980    7.3   108000.0   6000000.0   39846344.0     98.0
5  1980    6.4   123000.0    550000.0   39754601.0     95.0
6  1980    7.9   188000.0  27000000.0  115229890.0    133.0
7  1980    8.2   330000.0  18000000.0   23402427.0    129.0
8  1980    6.8   101000.0  54000000.0  108185706.0    127.0
9  1980    7.0    10000.0  10000000.0   15795189.0    100.0

In [5]:
print("Nilai standar deviasi : ")
np.std(dataCopy_standarization)

Nilai standar deviasi :

C:\Users\Lenovo - GK\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

year       1.115278e+01
score      9.687784e-01
votes      1.633131e+05
budget     4.145353e+07
gross      1.657140e+08
runtime    1.858004e+01
dtype: float64

In [6]:
print("Data sesudah Scaling : ")
data_standarization.head(10)

Data sesudah Scaling :

       year     score     votes    budget     gross   runtime
0 -1.829629  2.074354  5.136706 -0.400204 -0.190097  2.084947
1 -1.829629 -0.609439 -0.141498 -0.749994 -0.118562 -0.175544
2 -1.829629  2.384022  6.808342 -0.424328  2.775109  0.900880
3 -1.829629  1.351794  0.813722 -0.774117  0.029889 -1.036683
4 -1.829629  0.938903  0.121800 -0.713808 -0.233258 -0.498471
5 -1.829629  0.009898  0.213648 -0.845281 -0.233812 -0.659935
6 -1.829629  1.558240  0.611656 -0.207217  0.221643  1.385271
7 -1.829629  1.867908  1.481152 -0.424328 -0.332489  1.169986
8 -1.829629  0.422789  0.078937  0.444115  0.179135  1.062344
9 -1.829629  0.629235 -0.478275 -0.617315 -0.378395 -0.390829

In [7]:
print("Nilai standar deviasi : ")
np.std(data_standarization)

Nilai standar deviasi :

C:\Users\Lenovo - GK\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

year       1.0
score      1.0
votes      1.0
budget     1.0
gross      1.0
runtime    1.0
dtype: float64

## Data Cleaning Nilai Null

In [8]:
data.isna().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [9]:
data.year[[1,10,20,30,40,50,60,70,80,90,100]]=None;
data.genre[[1,10,20,30,40,50,60,70,80,90,100]]=None;

data[data.isnull().any(axis=1)]

C:\Users\Lenovo - GK\AppData\Local\Temp\ipykernel_19000\4082308529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.year[[1,10,20,30,40,50,60,70,80,90,100]]=None;
C:\Users\Lenovo - GK\AppData\Local\Temp\ipykernel_19000\4082308529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.genre[[1,10,20,30,40,50,60,70,80,90,100]]=None;

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
1,The Blue Lagoon,R,None,NaN,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
10,Any Which Way You Can,PG,None,NaN,"December 17, 1980 (United States)",6.1,18000.0,Buddy Van Horn,Stanford Sherman,Clint Eastwood,United States,15000000.0,70687344.0,The Malpaso Company,116.0
16,Fame,R,Drama,1980.0,"May 16, 1980 (United States)",6.6,21000.0,Alan Parker,Christopher Gore,Eddie Barth,United States,NaN,21202829.0,Metro-Goldwyn-Mayer (MGM),134.0
19,Stir Crazy,R,Comedy,1980.0,"December 12, 1980 (United States)",6.8,26000.0,Sidney Poitier,Bruce Jay Friedman,Gene Wilder,United States,NaN,101300000.0,Columbia Pictures,111.0
20,Cruising,R,None,NaN,"February 15, 1980 (United States)",6.5,20000.0,William Friedkin,William Friedkin,Al Pacino,West Germany,11000000.0,19814523.0,Lorimar Film Entertainment,102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020.0,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020.0,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020.0,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020.0,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020.0,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [10]:
strategi1 = SimpleImputer(strategy="most_frequent")

data["year"] = strategi1.fit_transform(data[["year"]])

data.isna().sum()

name           0
rating        77
genre         11
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [11]:
print(data.year[[1,10,20,30,40,50,60,70,80,90,100]])

1      1985.0
10     1985.0
20     1985.0
30     1985.0
40     1985.0
50     1985.0
60     1985.0
70     1985.0
80     1985.0
90     1985.0
100    1985.0
Name: year, dtype: float64

In [12]:
data["year"] = data["year"].astype("int")

In [13]:
strategi2 = SimpleImputer(strategy="mean")

data["budget"] = strategi2.fit_transform(data[["budget"]])

data.isna().sum()

name          0
rating       77
genre        11
year          0
released      2
score         3
votes         3
director      0
writer        3
star          1
country       3
budget        0
gross       189
company      17
runtime       4
dtype: int64

In [14]:
print(data.budget[[1,10,20,30,40,50,60,70,80,90,100]])

1      4.500000e+06
10     1.500000e+07
20     1.100000e+07
30     3.558988e+07
40     3.558988e+07
50     1.000000e+07
60     3.558988e+07
70     3.558988e+07
80     5.100000e+06
90     3.558988e+07
100    1.100000e+07
Name: budget, dtype: float64

In [15]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

data["genre"] = strategi3.fit_transform(data[["genre"]]).flatten()

data.isna().sum()

name          0
rating       77
genre         0
year          0
released      2
score         3
votes         3
director      0
writer        3
star          1
country       3
budget        0
gross       189
company      17
runtime       4
dtype: int64

In [16]:
print(data.genre[[1,10,20,30,40,50,60,70,80,90,100]])

1      Comedy
10     Comedy
20     Comedy
30     Comedy
40     Comedy
50     Comedy
60     Comedy
70     Comedy
80     Comedy
90     Comedy
100    Comedy
Name: genre, dtype: object

## Data Cleaning Nilai Duplikat

In [17]:
data[data.duplicated()]

print("Jumlah Data Duplikat : ")
data.duplicated().sum()

Jumlah Data Duplikat :

0

In [18]:
# Karena tidak ada nilai yang duplikat maka kita membuat nilai yang duplikat
make_duplicated = pd.concat([data]*2, ignore_index=True)
make_duplicated.duplicated()

print("Jumlah data duplicated sekarang :")
make_duplicated.duplicated().sum()

Jumlah data duplicated sekarang :

7668

In [19]:
make_duplicated.drop_duplicates(inplace=True)

data.drop_duplicates(inplace=True)
print("Jumlah data duplicated setelah di drop :")
data.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

## Mengubah tipedata Int

In [20]:
print("Tipe data Year sebelum diubah :")
data["year"].dtypes

Tipe data Year sebelum diubah :

dtype('int32')

In [21]:
ubah_dtype = data["year"].astype("float")
print("Tipe data Year setelah diubah :")
ubah_dtype.dtypes

Tipe data Year setelah diubah :

dtype('float64')

## Melakukan One Hot Encoding

In [22]:
one_hot = OneHotEncoder(sparse=False)

data_onehot = one_hot.fit_transform(data[["rating"]])
df_onehot = pd.DataFrame(data_onehot)
df_oh = data[['rating']].join(df_onehot)


df_oh.head(10)

C:\Users\Lenovo - GK\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

  rating    0    1    2    3    4    5    6    7    8    9   10   11   12
0      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2     PG  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     PG  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
5      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
6      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
7      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
8     PG  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9      R  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0