# Sabrina Nur Az-zahra_2109106111_POSTTEST 2

### Import Pandas dan File CSV

In [1]:
import pandas as pd
from prettytable import PrettyTable
df = pd.read_csv("movies.csv")

### Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [2]:
df.describe()

,year,score,votes,budget,gross,runtime
count,7668.000000,7665.000000,7.665000e+03,5.497000e+03,7.479000e+03,7664.000000
mean,2000.405451,6.390411,8.810850e+04,3.558988e+07,7.850054e+07,107.261613
std,11.153508,0.968842,1.633238e+05,4.145730e+07,1.657251e+08,18.581247
min,1980.000000,1.900000,7.000000e+00,3.000000e+03,3.090000e+02,55.000000
25%,1991.000000,5.800000,9.100000e+03,1.000000e+07,4.532056e+06,95.000000
50%,2000.000000,6.500000,3.300000e+04,2.050000e+07,2.020576e+07,104.000000
75%,2010.000000,7.100000,9.300000e+04,4.500000e+07,7.601669e+07,116.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,366.000000

### Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka

In [3]:
df.select_dtypes('number').head(10)

   year  score      votes      budget        gross  runtime
0  1980    8.4   927000.0  19000000.0   46998772.0    146.0
1  1980    5.8    65000.0   4500000.0   58853106.0    104.0
2  1980    8.7  1200000.0  18000000.0  538375067.0    124.0
3  1980    7.7   221000.0   3500000.0   83453539.0     88.0
4  1980    7.3   108000.0   6000000.0   39846344.0     98.0
5  1980    6.4   123000.0    550000.0   39754601.0     95.0
6  1980    7.9   188000.0  27000000.0  115229890.0    133.0
7  1980    8.2   330000.0  18000000.0   23402427.0    129.0
8  1980    6.8   101000.0  54000000.0  108185706.0    127.0
9  1980    7.0    10000.0  10000000.0   15795189.0    100.0

### Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka

In [4]:
jml_record = len(df)
jml_atribut = len(df.columns)
nm_atribut = list(df.columns)
jml_atribut_angka = len(df.select_dtypes(include=['int64', 'float64']).columns)

info_dict = {
    'Jumlah Record': jml_record,
    'Jumlah Atribut': jml_atribut,
    'Nama Atribut': nm_atribut,
    'Jumlah Atribut Dengan Tipe Data Angka': jml_atribut_angka
}

table = PrettyTable()
table.field_names = ['Informasi', 'Value']
for key, value in info_dict.items():
    if key == 'Nama Atribut':
        value = '\n'.join(value)
    table.add_row([key, value])
print(table)

+---------------------------------------+----------+
|               Informasi               |  Value   |
+---------------------------------------+----------+
|             Jumlah Record             |   7668   |
|             Jumlah Atribut            |    15    |
|              Nama Atribut             |   name   |
|                                       |  rating  |
|                                       |  genre   |
|                                       |   year   |
|                                       | released |
|                                       |  score   |
|                                       |  votes   |
|                                       | director |
|                                       |  writer  |
|                                       |   star   |
|                                       | country  |
|                                       |  budget  |
|                                       |  gross   |
|                                       | company  |
|                                       | runtime  |
| Jumlah Atribut Dengan Tipe Data Angka |    6     |
+---------------------------------------+----------+

###  Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice

#### Metode Slice Pertama

In [9]:
df.iloc[110:, 3:]

,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
110,1981,"May 1, 1981 (United States)",6.1,61000.0,Steve Miner,Ron Kurz,Betsy Palmer,United States,1250000.0,21722776.0,Georgetown Productions Inc.,87.0
111,1981,"January 14, 1981 (United States)",6.8,51000.0,David Cronenberg,David Cronenberg,Jennifer O'Neill,Canada,NaN,14225876.0,Canadian Film Development Corporation (CFDC),103.0
112,1981,"June 26, 1981 (United States)",6.7,94000.0,John Glen,Richard Maibaum,Roger Moore,United Kingdom,28000000.0,54813222.0,Eon Productions,127.0
113,1981,"October 30, 1981 (United States)",6.5,77000.0,Rick Rosenthal,John Carpenter,Jamie Lee Curtis,United States,2500000.0,25533818.0,Dino De Laurentiis Company,92.0
114,1981,"December 25, 1981 (United States)",6.8,17000.0,Harold Becker,Darryl Ponicsan,George C. Scott,United States,14000000.0,35856053.0,Major Studio Partners,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7663,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

#### Metode Slice Kedua

In [12]:
df.loc[110:, 'year':]

,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
110,1981,"May 1, 1981 (United States)",6.1,61000.0,Steve Miner,Ron Kurz,Betsy Palmer,United States,1250000.0,21722776.0,Georgetown Productions Inc.,87.0
111,1981,"January 14, 1981 (United States)",6.8,51000.0,David Cronenberg,David Cronenberg,Jennifer O'Neill,Canada,NaN,14225876.0,Canadian Film Development Corporation (CFDC),103.0
112,1981,"June 26, 1981 (United States)",6.7,94000.0,John Glen,Richard Maibaum,Roger Moore,United Kingdom,28000000.0,54813222.0,Eon Productions,127.0
113,1981,"October 30, 1981 (United States)",6.5,77000.0,Rick Rosenthal,John Carpenter,Jamie Lee Curtis,United States,2500000.0,25533818.0,Dino De Laurentiis Company,92.0
114,1981,"December 25, 1981 (United States)",6.8,17000.0,Harold Becker,Darryl Ponicsan,George C. Scott,United States,14000000.0,35856053.0,Major Studio Partners,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7663,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

###  Menampilkan jumlah nilai dari semua attribute yang bernilai object

In [13]:
df.select_dtypes('object').value_counts()

name                     rating     genre      released                           director            writer              star                  country         company
'71                      R          Action     October 10, 2014 (United Kingdom)  Yann Demange        Gregory Burke       Jack O'Connell        United Kingdom  Film 4                           1
Snow Day                 PG         Adventure  February 11, 2000 (United States)  Chris Koch          Will McRobb         Chevy Chase           United States   MFF Feature Film Productions     1
Some Girls               R          Comedy     September 9, 1988 (United States)  Michael Hoffman     Rupert Walters      Patrick Dempsey       United Kingdom  Metro-Goldwyn-Mayer (MGM)        1
Solo: A Star Wars Story  PG-13      Action     May 25, 2018 (United States)       Ron Howard          Jonathan Kasdan     Alden Ehrenreich      United States   Lucasfilm                        1
Soldier                  R          Action     October 23, 1998 (United States)   Paul W.S. Anderson  David Webb Peoples  Kurt Russell          United States   Warner Bros.                     1
                                                                                                                                                                                                ..
Hey Ram                  Not Rated  Crime      February 18, 2000 (India)          Kamal Haasan        H. Banerjee         Kamal Haasan          India           Raajkamal Films International    1
Hesher                   R          Drama      June 25, 2011 (Japan)              Spencer Susser      Spencer Susser      Joseph Gordon-Levitt  United States   The Last Picture Company         1
Hero at Large            PG         Comedy     February 8, 1980 (United States)   Martin Davidson     AJ Carothers        John Ritter           United States   Kings Road Entertainment         1
Hero and the Terror      R          Action     August 26, 1988 (United States)    William Tannen      Michael Blodgett    Chuck Norris          United States   Golan-Globus Productions         1
Æon Flux                 PG-13      Action     December 2, 2005 (United States)   Karyn Kusama        Phil Hay            Charlize Theron       United States   Paramount Pictures               1
Name: count, Length: 7576, dtype: int64